/* custom.css */
.navbar-brand {
    font-family: "Roboto", sans-serif !important;
    font-size: 26px !important;

    /* Add any other custom styles you want for the Navbar Brand */
  }

  .navbar-toggler:hover {
    border-color: white;
  }

/* Navbar.css */
.custom-navbar {
    background-color: #cb2525;
  }

.navbar-toggler:focus {
    box-shadow:  none !important;
  }

/* navbar.css */
.custom-navbar .navbar-brand-container {
    display: flex;
    align-items: center;
  }
  
  .custom-navbar .running-logo {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Adjust the height to maintain the aspect ratio */
    color: aliceblue;
  }

@media only screen and (min-width: 991px) {
.navbar-nav {
  position: absolute;
  right: 150px;
}
}

  

  